<ion-view title="Employees">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-list-outline" ui-sref="companies"></button>
    </ion-nav-buttons>
    <ion-content overflow-scroll="true" padding="false" class="has-header">
        <ion-refresher pulling-text="Pull to refresh" on-refresh="refresh()"></ion-refresher>
        <ion-list>
            <ion-item ng-repeat="e in employees" class="item-thumbnail-left" ui-sref="employeeTabsController.employeeDetails({id: e.$key()})">
                <img ng-src="{{e.image.__deferred.uri}}">
                <h2>{{e.fullname}}</h2>
                <p>{{e.username}}</p>
                <p>{{e.address}}</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>